page-quote-detail-page {
    #detail-view {
        background-color: #eee;
    }
    #movie-title {
        color: #888;
        text-align: right;
        margin-top: 8px;
        &:before {
            content: "-";
        }
    }
}
